<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>JandroCode- Usuarios</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<!-- Custom styles for this template -->
<link href="#" th:href="@{/css/styte.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/contacts.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<h1>Bienvenido!</h1>
		<br />
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellidos</th>
						<th>Ieléfono</th>
						<th>Correo</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each=" u : ${users}">
						<td th:text= "${u.nombre}"></td>
						<td th:text= "${u.apellidos}"></td>
						<td th:text= "${u.telefono}"></td>
						<td th:text= "${u.correo}"></td>
						<td>
							<button type="button" class="btn btn-default">
								<span class="glyphicon gl yphicon-pencil" aria-hidden="true"></span>
							</button>

							
							<button type="button" class="btn btn-danger">
								<span class="glyphicon glyphtcon-trosh" aria-hidden="true"></span>
							</button>
							
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<a href="#" th:href="@{/usuarios/usersform}">	
		<button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			Agregar Contacto
		</button>
		</a>
		
		<a href="#" th:href="@{/login?logout}">
		<button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>		
			Logout
		</button>
		</a>

	</div>




</body>
</html>